{% extends 'base.html' %}
{%  load static%}
{% block title %}熱銷新品{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
    .button {
        width: 160px;  /* 設定寬度 */
        height: 40px; 
        color: white;  /* 文字顏色 */
        background-color: #6a8d6c;  /* 背景顏色 */
        border: none;  /* 移除默認的邊框 */
        padding: 10px 20px;  /* 增加內邊距 */
        cursor: pointer;  /* 讓鼠標變為手形 */
        text-align: center; /* 文字居中 */
        display: inline-block; /* 保持按鈕形狀 */
        transition: all 0.3s ease; /* 添加過渡效果，讓變化更加平滑 */
    }

    /* 滑動到按鈕上的效果 */
    .button:hover {
        background-color: #43613d;  /* 改變背景顏色 */
        text-decoration: underline;  /* 增加底線 */
    }
    .hot{
        font-size: 15px;
        color: #ff6347;
        font-weight: bold;
        display: inline-block;
        position: relative;
        right: 5px;
        top:-1px;
        animation: skewAndFlicker 0.5s infinite;    
    }
    @keyframes skewAndFlicker {
      0% {
        transform: skew(0deg, 0deg);  /* 初始傾斜角度 */
        opacity: 1;  /* 完全可見 */
      }
      50% {

        opacity: 0.8;  /* 透明 */
      }
      100% {
        transform: skew(0deg, 0deg);  /* 再次傾斜 */
        opacity: 1;  /* 恢復可見 */
      }
    }
    .logout{
        width:23px;
        height: 23px;
        position:absolute;
        right: 100px;  /* 距離右邊 10px */
        bottom: 10px; /* 距離底部 10px */
        transition: all 0.3s ease; /* 平滑過渡效果 */
        cursor: pointer;          /* 設置鼠標為手指形狀 */
    }
    .mp{
        font-size: 11px;
        color:rgb(63, 63, 63);
    }
    .price{
        color:rgb(197, 15, 15);
        position: relative;
        left: -8px;
        font-size: 17px;
    }
    .tea_h:hover{
        background-color: rgb(235, 235, 235);
        transition: background-color 0.2s ease,;
    }
    .h{
            position: relative;
            top:-7px
    }
    .title1{
        transform: translate(-50%, -50%);  /* 完全居中，調整偏移 */
        color: rgb(61, 61, 61);  /* 設置文字顏色，使其能夠在圖片上可見 */
        font-size: 28px;  /* 根據需要設置文字大小 */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);  /* 可選，給文字添加陰影，使其更加顯眼 */
        white-space: nowrap;
        letter-spacing: 2px;
    }
    .sale{
        color:rgb(137, 137, 137);
        font-size: 13px;
    }
</style>
{% endblock %}
{% block index %}
    {% if indexfrom == 'index' %}
    <a href="/index/" class="title1"><p>Moments of Tea 一盞茶時</p></a>
    {% elif indexfrom == 'index2' %}
    <a href="/index2/" class="title1"><p>Moments of Tea 一盞茶時</p></a>
    {% endif %}
{% endblock %}

{% block login %}
    {% if indexfrom == 'index' %}
    <a href="/login/"><img src="{%static 'images/login.jpg'%}" alt="會員登入"  class="login" ></a>
    <a href="/cart/"><img src="{%static 'images/shopping.jpg'%}" alt="購物車"  class="cart" ></a>
    <a href="/mail/index/"><img src="{%static 'images/mail.png'%}" alt="mail"  class="mail" ></a>
    {% elif indexfrom == 'index2' %}
    <a href="/logout/"><img src="{%static 'images/logout.jpg'%}" alt="登出"  class="logout" ></a>
    <a href="/cart2/"><img src="{%static 'images/shopping.jpg'%}" alt="購物車"  class="cart" ></a>
    <a href="/mail/index2/"><img src="{%static 'images/mail.png'%}" alt="mail"  class="mail" ></a>
    {% endif %}
{% endblock %}
 
{% block unit %}
    {% if indexfrom == 'index' %}
    <a href="/hotproduct/index" class="unit-button"><strong>熱銷商品</strong></a>
    <a href="/tea/default/" class="unit-button"><strong>挑選茶葉</strong></a>
    <a href="/orderlogin/index/" class="unit-button"><strong>訂單查詢</strong></a>
    <a href="/aboutus/index/" class="unit-button"><strong>關於我們</strong></a>
    {% elif indexfrom == 'index2' %}
    <a href="/hotproduct/index2/" class="unit-button"><strong>熱銷商品</strong></a>
    <a href="/tea2/default/" class="unit-button"><strong>挑選茶葉</strong></a>
    <a href="/orderlogin/index2/" class="unit-button"><strong>訂單查詢</strong></a>
    <a href="/aboutus/index2/" class="unit-button"><strong>關於我們</strong></a>
    {% endif %}
{% endblock %}


{% block content %} 
    {% if indexfrom == 'index' %}
<span class="h">
    <a href="/index/" ><img src="/static/images/home.jpg" alt="首頁" width="27" height="27" style="margin-top: 7px;"></a>
    <p style="position: relative; top: -9px; display: inline;">></p>&nbsp;
    <a href="/{{now_path}}/" style="position: relative; top: -7px; display: inline;">
        <span >{{now_page}}</span>
    </a>
</span>
<br>
<div>
    <table border="0" width="80%" align="center" cellspacing="0">
        <tr>
            {% for product in products %}
            <td style="text-align: center; padding: 10px;" class="tea_h">
                <a href="/detail/{{product.id}}">
                    <img src="/static/images/{{ product.pimage }}" width="200" height="200" alt="{{ product.pname }}">
                </a>
                <a href="/detail/{{product.id}}" style="color:black;text-decoration: none;">
                    <p class="title"><span class="hot">熱銷</span><strong>{{product.pname}}</strong></p>    
                </a>
                <p class="price">
                    NT ${{ product.pprice }}
                </p>
                {% if product.hot > 0 %}                
                <p class="sale">已銷售 <span style="color :rgb(86, 84, 84);">{{product.hot}}</span></p>
                {% endif %}
                <button class='button' onclick="window.location='/addcart/add/{{product.id}}'">加入購物車</button>&nbsp;&nbsp;
            </td>
            {% if forloop.counter|divisibleby:4 %}
        </tr><tr>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>
    {% elif indexfrom == 'index2' %}
    <span class="h">
        <a href="/index2/" ><img src="/static/images/home.jpg" alt="首頁" width="27" height="27" style="margin-top: 7px;"></a>
        <p style="position: relative; top: -9px; display: inline;">></p>&nbsp;
        <a href="/{{now_path}}/" style="position: relative; top: -7px; display: inline;">
            <span >{{now_page}}</span>
        </a>
    </span>
    <br>
    <div>
        <table border="0" width="80%" align="center" cellspacing="0">
            <tr>
                {% for product in products %}
                <td style="text-align: center; padding: 10px;" class="tea_h">
                    <a href="/detail2/{{product.id}}">
                        <img src="/static/images/{{ product.pimage }}" width="200" height="200" alt="{{ product.pname }}">
                    </a>
                    <a href="/detail2/{{product.id}}" style="color:black;text-decoration: none;">
                        <p class="title"><span class="hot">熱銷</span><strong>{{product.pname}}</strong></p>    
                    </a>
                    <p class="price" >
                        <span class="mp">會員價</span>&nbsp;NT${{product.member_price }} 
                    </p>
                    <p class="sale">已銷售 <span style="color :rgb(86, 84, 84);">{{product.hot}}</span></p>
                    <button class='button' onclick="window.location='/addcart_m/add/{{product.id}}'">加入購物車</button>&nbsp;&nbsp;
                </td>
                {% if forloop.counter|divisibleby:4 %}
            </tr><tr>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    {% endif %}
{% endblock %}
{% block member %}
    {% if indexfrom == 'index' %}
    <span  style=" margin-right: 10px;"><a href="/member/index">會員福利</a></span>
    {% elif indexfrom == 'index2' %}
    <span  style=" margin-right: 10px;"><a href="/member/index2/">會員福利</a></span>
    {% endif %}
{% endblock %}