{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .h{
            position: relative;
            top:-7px
        }
        .mail1{
            position: relative;
            top:15px;
            left: -5px;
        }
        .contentus{
            font-size: 26px;
            color:rgb(54, 54, 54)
        }
        .contentus-c{
            color:rgb(168, 8, 8);
            font-size:18px;
            padding-top: 10px;
        }
        .contentus-a{
            color:rgb(47, 47, 47);
            font-size:18px;
            padding-top: 10px;
        }
        .contentus-b{
            color:rgb(91, 8, 8);
            font-size:17.5px;
        }
        .contentus-d{
            color:rgb(168, 8, 8);
            font-size:17.5px;
            border-bottom: 1px solid rgb(168, 8, 8);

        }
        .contentus-d:hover {
            color:rgb(147, 22, 22);
            border-bottom: 1px solid rgb(147, 22, 22);
            font-size: 18px;
            
        }

        .button {
                display: flex;                /* 使用 Flexbox 讓按鈕排成一行 */
                justify-content: center;      /* 可以根據需要調整位置，比如居中對齊 */
                gap: 30px;                    /* 設定按鈕之間的距離，這裡設為 20px，你可以根據需要調整 */
                width: 100%;                  /* 容器寬度佔滿父容器 */
                align-items: center;          /* 按鈕垂直居中對齊 */
            }

        .button input {
            padding: 10px 20px;           /* 按鈕的內邊距 */
            font-size: 13px;               /* 按鈕文字大小 */
            border: 1px solid #ccc; 
            border-radius: 5px;
            transition: all 0.3s ease; 
            cursor: pointer;   
            position:relative;
            bottom:-40px;
        }
        .button input:hover {
            background-color:#57889f;
            color:#f6f6f6;
            
        }
        .member a{
            font-size: 14px;
        }
        .member a:hover{
            color:rgb(168, 8, 8);
        }
        .logout{
            width:23px;
            height: 23px;
            position:absolute;
            right: 100px;  /* 距離右邊 10px */
            bottom: 10px; /* 距離底部 10px */
            transition: all 0.3s ease; /* 平滑過渡效果 */
            cursor: pointer;          /* 設置鼠標為手指形狀 */
        }
        .title{
            transform: translate(-50%, -50%);  /* 完全居中，調整偏移 */
            color: rgb(61, 61, 61);  /* 設置文字顏色，使其能夠在圖片上可見 */
            font-size: 28px;  /* 根據需要設置文字大小 */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);  /* 可選，給文字添加陰影，使其更加顯眼 */
            white-space: nowrap;
            letter-spacing: 2px;
        }
    </style>
{% endblock %}
{% block index %}
    {%  if indexfrom == 'index' %}
    <a href="/index/" class="title"><p>Moments of Tea 一盞茶時</p></a>
    {% elif indexfrom == 'index2' %}
    <a href="/index2/" class="title"><p>Moments of Tea 一盞茶時</p></a>
    {% endif %}
{% endblock %}

{% block login %}
    {%  if indexfrom == 'index' %}
    <a href="/login/"><img src="{%static 'images/login.jpg'%}" alt="會員登入"  class="login" ></a>
    <a href="/cart/"><img src="{%static 'images/shopping.jpg'%}" alt="購物車"  class="cart" ></a>
    <a href="/mail/index/"><img src="{%static 'images/mail.png'%}" alt="mail"  class="mail" ></a>
    {% elif indexfrom == 'index2' %}
    <a href="/logout/"><img src="{%static 'images/logout.jpg'%}" alt="登出"  class="logout" ></a>
    <a href="/cart2/"><img src="{%static 'images/shopping.jpg'%}" alt="購物車"  class="cart" ></a>
    <a href="/mail/index2/"><img src="{%static 'images/mail.png'%}" alt="mail"  class="mail" ></a>
    {% endif %}
{% endblock %}

{% block unit %}
    {%  if indexfrom == 'index' %}
    <a href="/hotproduct/index/" class="unit-button"><strong>熱銷商品</strong></a>
    <a href="/tea/default/" class="unit-button"><strong>挑選茶葉</strong></a>
    <a href="/orderlogin/index/" class="unit-button"><strong>訂單查詢</strong></a>
    <a href="/aboutus/index/" class="unit-button"><strong>關於我們</strong></a>
    {% elif indexfrom == 'index2' %}
    <a href="/hotproduct/index2/" class="unit-button"><strong>熱銷商品</strong></a>
    <a href="/tea2/default/" class="unit-button"><strong>挑選茶葉</strong></a>
    <a href="/orderlogin/index2/" class="unit-button"><strong>訂單查詢</strong></a>
    <a href="/aboutus/index2/" class="unit-button"><strong>關於我們</strong></a>
    {% endif %}
{% endblock %}

{% block content %}
    {%  if indexfrom == 'index' %}
    <span class="h">
        <a href="/index/" ><img src="/static/images/home.jpg" alt="首頁" width="27" height="27" style="margin-top: 7px;"></a>
        <p style="position: relative; top: -9px; display: inline;">></p>&nbsp;
        <a href="/member/index/" style="position: relative; top: -7px; display: inline;">
            <span >會員福利</span>
        </a>
    </span>
    <div>
        <table border="0" width="40%" align="center" cellspacing="10" >
            <tr align="center" class="contentus">
                <td colspan="2">
                    <strong>會員福利</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr/></td>
            </tr>
            <tr>
                <td align="center" class="contentus-a">1. 結帳更快速，省去輸入信箱及名稱時間</td>
            </tr>
            <tr>
                <td align="center" class="contentus-a">2. 查詢訂單更方便，只需要輸入訂單編號及驗證碼</td>
            </tr>
            <tr>
                <td align="center" class="contentus-c">3. 加入會員，每樣商品均享有9.8折優惠</td>
            </tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            <tr>
                <td align="center" class="contentus-b">目前團隊還在討論中，會員日後將享有更多福利，</td>
            </tr>
            <tr>
                <td align="center" class="contentus-b">點擊下方加入會員！</td>
            </tr>
            <tr></tr>
            <tr>
                <td align="center" >
                    <a href="/register/" class="contentus-d">加入會員</a>
                </td>
            </tr>
            <tr></tr>
            
            <tr></tr>
        </table>
        <div class="button">
            <input type="button" name="home" value="首頁"  onclick="window.location='/index/'">
        </div>
    </div>
    {% elif indexfrom == 'index2' %}
    <span class="h">
        <a href="/index2/" ><img src="/static/images/home.jpg" alt="首頁" width="27" height="27" style="margin-top: 7px;"></a>
        <p style="position: relative; top: -9px; display: inline;">></p>&nbsp;
        <a href="/member/index2/" style="position: relative; top: -7px; display: inline;">
            <span >會員福利</span>
        </a>
    </span>
    <div>
        <table border="0" width="40%" align="center" cellspacing="10" >
            <tr align="center" class="contentus">
                <td colspan="2">
                    <strong>會員福利</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2"><hr/></td>
            </tr>
            <tr>
                <td align="center" class="contentus-a">1. 結帳更快速，省去輸入信箱及名稱時間</td>
            </tr>
            <tr>
                <td align="center" class="contentus-a">2. 查詢訂單更方便，只需要輸入訂單編號及驗證碼</td>
            </tr>
            <tr>
                <td align="center" class="contentus-c">3. 加入會員，每樣商品均享有9.8折優惠</td>
            </tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            <tr>
                <td align="center" class="contentus-b">目前團隊還在討論中，會員日後將享有更多福利，</td>
            </tr>
            <tr>
                <td align="center" class="contentus-b">點擊先下方加入會員！</td>
            </tr>
            <tr></tr>
            <tr>
                <td align="center" >
                    <a href="/register/" class="contentus-d">加入會員</a>
                </td>
            </tr>
            <tr></tr>
            
            <tr></tr>
        </table>
        <div class="button">
            <input type="button" name="home" value="首頁"  onclick="window.location='/index2/'">
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block member %}
    {% if indexfrom == 'index' %}
    <span  style=" margin-right: 10px;"><a href="/member/index">會員福利</a></span>
    {% elif indexfrom == 'index2' %}
    <span  style=" margin-right: 10px;"><a href="/member/index2/">會員福利</a></span>
    {% endif %}
{% endblock %}